body {
	background-color: #ffffff;
	color: #f1c232;
}

h1, h2, h3 {
	color: #f1c232;
}

main {
	background-color: #0095C8;
	width: 75%;
	margin: 10px auto;
	padding: 10px 30px;
	border-radius: 30px;
}

main div {
	margin: auto;
}

section {
	display: flex;
	flex-flow: wrap;
}

section header {
	width: 100%;
}

section article {
	margin: 10px;
	background-color: #A9431E;
	padding: 20px;
	border-radius: 20px;
}

section article header {
	text-align: center;
}