body {
	background-color: #1F2122;
}

h1, h2, h3 {
	color: #f1c232;
}

main {
	background-color: #27292a;
	width: 80%;
	margin: 0 auto;
}

section {
	background-color: #1F2122;
	padding: 30px;
}

section header {
	grid-column: 1/4;
	background-color: #1F2122;
	padding: 30px;
}