<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title th:text="${appName}"></title>

<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/board.css}" rel="stylesheet" />

</head>
<body>

	<main>
		<header>
			<h1 th:text="${appName}"></h1>
		</header>
		<section>
			<article>
				<header>
					<h2>A simple explination</h2>
				</header>
				<p>The eight queens puzzle is the problem of placing eight chess
					queens on an 8×8 chessboard so that no two queens threaten each
					other; thus, a solution requires that no two queens share the same
					row, column, or diagonal. There are 92 solutions. The problem was
					first posed in the mid-19th century. In the modern era, it is often
					used as an example problem for various computer programming
					techniques.</p>
				<p>The eight queens puzzle is a special case of the more general
					n queens problem of placing n non-attacking queens on an n×n
					chessboard. Solutions exist for all natural numbers n with the
					exception of n = 2 and n = 3. Although the exact number of
					solutions is only known for n ≤ 27, the asymptotic growth rate of
					the number of solutions is approximately (0.143 n)n.</p>
			</article>
			<article>
				<header>
					<h2>Known Solutions</h2>
				</header>
				<ul>
					<li th:each="count: ${knownSolutions}" th:text="count"></li>
				</ul>
			</article>
		</section>



	</main>
</body>
</html>